<div class="panel panel-success">
  <div class="panel-heading text-center">
    <h3 class="panel-title"><a href="/trips/profile">My Profile</a></h3>
  </div>
  <div class="panel-body">
    <p>Go to your profile and see what your friends are just doing. See where are they going and enjoying!!!!</p>
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading  text-center">
    <h3 class="panel-title "><a href="/trips/create">Create a Trip</a></h3>
  </div>
  <div class="panel-body">
    <p>PIt's easy to get started. Simply add a trip name and add members to it. That's it!!!. Ready to enjoy.</p>
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading  text-center">
    <h3 class="panel-title "><a href="/trips/join">Join a Trip</a></h3>
  </div>
  <div class="panel-body">
    <p>It was going to be a lonely trip. Isn't it. It's easy to get started. Simply search for a trip and join. That's it!!!. Ready to enjoy.<p>
  </div>
</div>






<!--<h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p>



<div class="row">
  <div class="col-md-4">
    <a href="/trips/create">Create a Trip</a>
  </div>
  <div class="col-md-4">
    <a href="/trips/join">Join a Trip</a>
  </div>
  <div class="col-md-4">
    <a href="/trips/past">Past trips</a>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-4">
    <a href="/follow/">Follow</a>
  </div>
  <div class="col-md-4">
    <a href="/follow/ed_by">Follwed By</a>
  </div>
  <div class="col-md-4">
    <a href="/follow/ing">Following</a>
  </div>
</div> -->
