<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title text-center">Goa to Karachi</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
  <div class="panel-footer text-center"><a href="/trips/join/id">Join</a></div>
</div>
